{% extends 'enroll/index.html' %}
{% block content %}
 {% if form.non_field_errors %}
   {%  for error in form.non_field_errors %}
    <p>{{error}}</p> 
   {% endfor %}
 {% endif %}

 <form action="" method="POST" novalidate class='d-inline'>
     {% csrf_token %}
     {% for fm in form %}
        <p>{{fm.label}} {{fm}} {{fm.errors|striptags}}</p>
     {% endfor %}
    
    <input type="submit" class="btn btn-success" value="Update">
 </form>

 <a href="{% url 'deshbord' %}" class="btn logincolor">Deshbord</a>


{% endblock content %}